@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	background-color: GhostWhite;
	color: #4A4A4A;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
}

/* Style the navbar */
nav {
  overflow: hidden;
  background-color: #4A4A4A;
}

/* Navbar links */
nav a {
  float: left;
  display: block;
  color: GhostWhite;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}
