@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
	background-color: GhostWhite;
	color: DarkSlateGray;
	font-family: "Open Sans", sans-serif;
	font-size: 17px;
}
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: normal;
}